* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header button {
    border: none;
    background-color: transparent;
}

.logo {
    height: 5.625rem;
}

i {
    color: #1B203D;
    font-size: 1.875rem;
}

i:hover {
    color: #BAC5CF;
}

.filter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filter-container select, .product-card {
    cursor: pointer;
}

#product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin: 4rem 15%;
}

.product-card, .cart-product-card {
    width: 80%;
    max-width: 31.25rem;
    padding: 1rem;
    border: 0.063rem solid #CCC;
    border-radius: 0.563rem;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
}

.product-card {
    transition: transform 0.3s ease-in-out;
}

.product-card:hover {
    transform: translateY(-0.313rem);
}

img {
    width: 100%;
    height: 80%;
    border-top-left-radius: 0.188rem;
    border-top-right-radius: 0.188rem;
}

.sale-price {
    color: #ED3319;
    font-weight: bold;
}

/* STYLES PRODUCT PAGE */
#product-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3.125rem 0;
}

.single-product-card {
    width: 50%;
    max-width: 21.875rem;
}

.single-product-image {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
}

.product-info button, .remove-from-cart-btn {
    background-color: #1B203D;
    color: #FFF;
    padding: 0.625rem 1.25rem;
    border: none;
    border-radius: 0.313rem;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.product-info button:hover, .remove-from-cart-btn:hover {
    background-color: #BAC5CF;
}

/* STYLES CHECKOUT PAGE */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

#cart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.cart-product-card {
    width: 15.625rem;
    margin-bottom: 2rem;
}

.cart-product-card img {
    width: 100%;
    height: auto;
    border-radius: .5rem;
}

.product-info {
    margin-top: 1rem;
    text-align: center;
}

.product-info h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.product-info p {
    margin: 0.5rem 0;
}

.quantity {
    font-weight: bold;
}

.remove-from-cart-btn {
    color: #FFF;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.313rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.remove-from-cart-btn:hover {
    background-color: #BAC5CF;
}

/* TABLET */
@media (min-width: 768px) {
    #product-list {
        justify-content: flex-start;
        margin: 4rem 1rem;
    }

    .product-card {
        width: 40%;
    }
}

/* DESKTOP */
@media (min-width: 1280px) {
    .product-card {
        width: 24%;
    }
}
